<ion-header>

  <ion-navbar>
    <ion-title>Quiz with {{ enemyUser.name }}
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <!-- FIRST category SELECTION -->
  <div *ngIf="isAlice && selectedCategory === null">
    <ion-item>Select quiz category</ion-item>
    <ion-list>
      <ion-item (click)="categorySelected('comics')">Comics</ion-item>
      <ion-item (click)="categorySelected('computergames')">Computergames</ion-item>
      <ion-item (click)="categorySelected('food')">Food</ion-item>
    </ion-list>
  </div>

  <div *ngIf="isBob && selectedCategory === null">
    <p style="padding: 10px">Please wait until {{enemyUser.name}} has selected a category</p>
  </div>

  <div *ngIf="question !== null">
    <p style="padding: 10px; background: #f3a5be; height: 60px">{{question}}</p>

    <ion-list>
      <button ion-item *ngFor="let answer of answers"
        (click)="selectAnswer(answer)">
        {{answer.text}}
      </button>
    </ion-list>

    <progress-bar [progress]="loadProgress"></progress-bar>
  </div>

  <div *ngIf="question === null && selectedCategory !== null">
    <p>Correct answers: {{score.correctCount}} of 3</p>

    <button ion-button (click)="startNewGame()">New game</button>

    <p *ngIf="enemyScore">{{enemyUser.name}} has {{enemyScore.correctCount}} of 3</p>
  </div>

  <!-- wenn beide fertig sind -->
  <div *ngIf="enemyScore && question === null">

    <div *ngIf="isAlice">
      <p *ngIf="score.correctCount > enemyScore.correctCount">you won, wanna chat with that looser?</p>

      <p *ngIf="score.correctCount < enemyScore.correctCount">bob won ;) </p>

      <p *ngIf="score.correctCount === enemyScore.correctCount">undecided!
      </p>

      <button ion-button (click)="startChat()">Start chat</button>
    </div>

    <div *ngIf="isBob">
      <pre>
        <p *ngIf="score.correctCount > enemyScore.correctCount">you won, start chat?
          <button ion-button (click)="startChat()">Start chat</button>
        </p>

        <p *ngIf="score.correctCount < enemyScore.correctCount">you are a looser, new game?</p>

        <p *ngIf="score.correctCount === enemyScore.correctCount">undecided!
        </p>
      </pre>
    </div>
  </div>

  <!-- <hr>
  <div *ngIf="isDebugDisplayed" style="background-color: black; color: white;">
    <div *ngFor="let dbItem of dbDebugItems" style="padding: 2px; margin: 1px 0">
      {{dbItem}}
    </div>
  </div> -->
</ion-content>
